<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<body>-->

<!--<h1>Consolidated Report</h1>-->

<!--<div th:each="reportName : ${reports}">-->
<!--    <div th:insert="${reportName} :: ${reportName + 'Fragment'}"></div>-->
<!--</div>-->
<!--&lt;!&ndash; 2️⃣ EXTRA CUSTOM CONTENT &ndash;&gt;-->
<!--<div>-->
<!--    <h3>Summary Information</h3>-->
<!--    <p>Total Employees: <span th:text="${totalEmployees}"></span></p>-->
<!--    <p>Total Departments: <span th:text="${totalDepartments}"></span></p>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->

