<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<body>-->

<!--<div th:fragment="departmentFragment">-->
<!--    <h2>Department Report</h2>-->
if(${showDepartments})
<!--    <table border="1">-->
<!--        <tr>-->
<!--            <th>Name</th><th>Capacity</th>-->
<!--        </tr>-->
<!--        <tr th:each="dpt : ${departments}">-->
<!--            <td th:text="${dpt.name}"></td>-->
<!--            <td th:text="${dpt.capacity}"></td>-->
<!--        </tr>-->
<!--    </table>-->

<!--</div>-->


<!--</body>-->
<!--</html>-->



