<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<body>-->

<!--<div th:fragment="employeeFragment">-->
<!--    {historyTemplate}-->
<!--    <h2>Employee Report</h2>-->
<!--    <table border="1">-->
<!--        <tr>-->
<!--            <th>ID</th><th>Name</th><th>Department</th>-->
<!--        </tr>-->
<!--        <tr th:each="emp : ${employees}">-->
<!--            <td th:text="${emp.name}"></td>-->
<!--            <td th:text="${emp.role}"></td>-->
<!--            <td th:text="${emp.salary}"></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->




